server:
  port: 8999
spring:
  profiles:
    active: dev


  datasource:
    url: ${spring.datasource.url}
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
  data:
    redis:
      password: ${spring.data.redis.password}
      host: ${spring.data.redis.host}


  rabbitmq:
    username: ${spring.rabbitmq.username}
    password: ${spring.rabbitmq.password}
    virtual-host: ${spring.rabbitmq.virtual-host}
    port: ${spring.rabbitmq.port}
    host: ${spring.rabbitmq.host}
    listener:
      simple:
        retry:
          enabled: true
          stateless: false
          max-attempts: 3
          initial-interval: 3000ms
          multiplier: 1.2
        acknowledge-mode: auto
        prefetch: 3

knife4j:
  enable: ${knife4j.enable}
  setting:
    language: zh_cn
    swagger-model-name: 实体列表
  production: ${knife4j.production}

custom:
  date:
    datetime: ${custom.date.obj}
    date: ${custom.date.date}
    time: ${custom.date.time}

  jwt:
    secret: ${custom.jwt.secret}
    expiration: ${custom.jwt.expiration}

  elasticsearch:
    host: ${custom.elasticsearch.host}
    max-result-window: ${custom.elasticsearch.max-result-window}

  # 数据库备份配置（可选）
  backup:
    enable: ${custom.backup.enable}                  # 是否启用备份
    cron: ${custom.backup.cron}             # 调度表达式：每天 03:00 执行
    output-dir: ${custom.backup.output-dir}    # 备份输出目录（相对项目根目录或绝对路径）
    mysqldump-cmd: ${custom.backup.mysqldump-cmd}      # mysqldump 可执行命令（或绝对路径）
    database: ${custom.backup.database}            # 需要备份的数据库名


logging:
  level:
    com.wolfhouse.wolfhouseblog.*: info


