<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wolfhouse.wolfhouseblog.mapper.AdminAuthMapper">
    <insert id="addByIds">
        insert into admin_authority(admin_id, authority_id)
        values (
        <foreach collection="ids" item="aid" separator=",">
            #{adminId}, #{aid}
        </foreach>
        );
    </insert>
</mapper>
